#L2RBot settings
#Wed Jun 13 01:13:37 EEST 2018
D1_WP5D=0
D1_WP5A=disabled
DA_CLAN_DONATION=enabled
D4_WP2D=20
D1_WP4Y=0
D4_WP2A=enabled
D1_WP4X=0
CHALLENGES=enabled
EMULATOR_LIST=0
D5_WP5D=0
D5_WP5A=disabled
D4_WP1Y=526
D4_WP1X=747
SETUP_SLEEP=1.0
D5_WP4Y=0
D5_WP4X=0
SUBQUEST_BUY_SCROLL_A=disabled
DUNGEON_RUN=enabled
DA_ELITE_DUNGEON=enabled
D1_WP4D=0
D1_WP4A=disabled
D4_WP1D=15
DAILIES=enabled
D1_WP3Y=568
D1_WP3X=848
D5_WP4D=0
D5_WP4A=disabled
D5_WP3Y=0
D5_WP3X=0
DA_FREE_HG=disabled
D1_WP3D=10
D1_WP3A=enabled
D1_WP2Y=500
D1_WP2X=775
D5_WP3D=0
D2_WP5Y=0
D5_WP3A=disabled
D2_WP5X=0
D5_WP2Y=0
D5_WP2X=0
D6_WP5Y=0
D6_WP5X=0
D1_WP2D=30
D1_WP2A=enabled
D2_WP5D=0
READ_MAIL=enabled
D2_WP5A=disabled
SUBQUEST_RESET=disabled
D1_WP1Y=725
D1_WP1X=550
D5_WP2D=0
DA_CLAN_MEMBERS=enabled
D2_WP4Y=0
DA_ARENA=enabled
D5_WP2A=disabled
D2_WP4X=0
D6_WP5D=0
D6_WP5A=disabled
D5_WP1Y=725
D5_WP1X=550
DUNGEON_LIST_DR=3
D6_WP4Y=0
D6_WP4X=0
WEEKLY=enabled
D1_WP1D=20
D2_WP4D=0
D2_WP4A=disabled
DUNGEON_LIST_DA=4
D5_WP1D=20
D2_WP3Y=646
D2_WP3X=467
D6_WP4D=0
D6_WP4A=disabled
D6_WP3Y=0
D6_WP3X=0
DA_TEMPLE=enabled
D2_WP3D=15
RESOLUTION_LIST=0
DA_CLAN_CHECKIN=enabled
D2_WP3A=enabled
GATHER_ON_MAP3_Y=528
GATHER_ON_MAP3_X=648
GATHER_ON_MAP1_Y=622
D2_WP2Y=735
GATHER_ON_MAP1_X=816
D2_WP2X=654
D6_WP3D=0
D6_WP3A=disabled
D3_WP5Y=0
D3_WP5X=0
DA_TOI=enabled
D6_WP2Y=0
D6_WP2X=0
DA_TRIALS=enabled
INV_SORT=enabled
D2_WP2D=10
D2_WP2A=enabled
D3_WP5D=0
D3_WP5A=disabled
D2_WP1Y=741
D2_WP1X=829
D6_WP2D=0
D6_WP2A=disabled
D3_WP4Y=0
D3_WP4X=0
D6_WP1Y=725
D6_WP1X=550
SETUP_SCREEN=1
SUBQUEST=enabled
D2_WP1D=8
D3_WP4D=0
DA_CIRCLE=enabled
SETUP_SCALE=100.0
D3_WP4A=disabled
SETUP_OFFSET_Y=46
SETUP_OFFSET_X=12
D6_WP1D=20
D3_WP3Y=0
D3_WP3X=0
DA_VAULT=enabled
CH_STUFF=enabled
D3_WP3D=0
D3_WP3A=disabled
DA_CLAN_SHOP=enabled
D3_WP2Y=736
D3_WP2X=796
D4_WP5Y=0
D4_WP5X=0
D3_WP2D=15
DELAYED_RUN=enabled
D3_WP2A=enabled
D4_WP5D=0
D4_WP5A=disabled
D3_WP1Y=676
D3_WP1X=705
DA_HERBS=enabled
D4_WP4Y=0
D4_WP4X=0
DA_FREE_DRAW=enabled
DELAYED_RUN_TIME=11\:08
D3_WP1D=15
DA_DD=enabled
D4_WP4D=0
D4_WP4A=disabled
D4_WP3Y=0
D4_WP3X=0
D4_WP3D=0
GATHER_ON_MAP2_Y=634
GATHER_ON_MAP2_X=594
D1_WP5Y=0
D4_WP3A=disabled
D1_WP5X=0
HERBS_EINHASADS=disabled
D4_WP2Y=359
D4_WP2X=884
MAIN_QUEST=enabled
DA_FRIENDS=enabled
D5_WP5Y=0
D5_WP5X=0
